
<div class="row stretch-vertical">

        <div class="col-sm-3 col-md-2 sidebar">
            <!-- <side-panel heading=""></side-panel> -->
        </div>
        <div class="card-container">
                
                    <div class="form-group">
                        <h3>Update Grocery Item</h3>
                    </div>
               
   <form #updateForm="ngForm"  >
       {{validationMessage}}
        <div class="form-group ">
                <label [for]="name" class="array-item-title">
                        Name</label>
               
       <input type="text" class="form-control" ngModel [(ngModel)]="this.groceryItemModel.name" name="name" required 
       #name="ngModel">
       </div>
       <div class="form-group ">
            <label [for]="description" class="array-item-title">
                    Description</label>
       <input type="text" class="form-control" ngModel [(ngModel)]="this.groceryItemModel.description" name="description" required  >
    </div>
    <div class="form-group ">
            <label [for]="tag" class="array-item-title">
                    Tag</label>
       <input type="text" class="form-control" ngModel [(ngModel)]="this.groceryItemModel.tag" name="tag" required  >
    </div>
       <button type="button" class="btn btn-primary mr-2" (click)="onSubmit()"  value="Submit">Save</button>
       <input class="btn btn-secondary ml-5 rounded" type="button" value="Cancel"
       (click)="navigateRoot()">   </form>
       </div>
       
</div>
